/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.panel-notificaciones {
    display: none;
    
}






/* Header styles */
header {
    display: flex;
    justify-content: flex-end;
    background-color: #983C2D;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li:first-child {
    margin-left: auto;
}

header ul li a {
    text-decoration: none;
    color: black;
}

header ul li a:hover {
    color: blue;
}

/* Main content area styles */
#pagina_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 50px); /* Adjusted min-height instead of height */
    background: #DEE0D5;
    padding: 20px;
    box-sizing: border-box;
}

#menulateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #A7C5C5;
    padding-top: 20px;
    margin-bottom: 100px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar img {
    width: 80%;
    margin-bottom: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0; /* Quitamos el padding para evitar espacio adicional */
    margin: 0; /* Quitamos el margen para evitar espacio adicional */
}

#sidebar ul li {
    margin-bottom: 20px; /* Agregamos un margen entre los elementos de la lista */
    text-align: center; /* Centramos el texto dentro de los elementos de la lista */
}


#sidebar ul li a {
    color: #000;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #555;
}
